<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="UserName" value=""/>
        <add key="Password" value=""/>
        <add key="VirtualHost" value="/"/>
        <add key="HostName" value=""/>
        <add key="Port" value="5672"/>
    </appSettings>
</configuration>